/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}




video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.form-group {
  text-align: right;
  margin-bottom: 1rem; /* Adjust space below each form group */
}

.form-label {
  display: block; /* ensures the label takes up its own line */
  margin-bottom: 0.5rem; /* space between label and input */
}

.form-control {
  display: block;
  width: 100%; /* Makes the input stretch to the full width of its parent */
  padding: .375rem .75rem; /* Padding inside the input */
  line-height: 1.5; /* Line height for the text inside the input */
  border: 1px solid #ced4da; /* Border color */
  border-radius: .25rem; /* Rounded corners */
  color: #495057; /* Text color */
  background-color: #fff; /* Background color */
  background-clip: padding-box; /* Applying background to padding only */
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; /* Transition for focus effect */
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff; /* Border color on focus */
  outline: 0; /* Removes the default outline */
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25); /* Adds a shadow-like effect on focus */
}


